<% for @note in @note_list %>
    note : <%= @note.note %>
    </br>
    epreuve : <%= @note.epreuve_id %>
    </br>
    matière : <%= @note.matiere_id %>
    </br>
    </br>
<% end %>

<% if can? :create, Note %>
	<p> <%= link_to "New Note", new_note_path %> </p>
<% end %>