<% for @note in @note_list %>
    note : <%= @note.note %>
    </br>
    epreuve : <%= Epreuve.find(@note.epreuve_id).titre %>
    </br>
    matière : <%= Matiere.find(@note.matiere_id).titre %>
    </br>
    </br>
<% end %>

<% if can? :create, Note %>
	<p> <%= link_to "New Note", new_note_path %> </p>
<% end %>