<html>
  <head>
  </head>
  <body>
    <!-- Affichage des liens de navigation!-->
	<%= render "layouts/_navigation_links" %>
	<!--Fin Affichage des liens de navigation!-->
	<%= @type %>
  </body>
</html>